* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neue Haas';
}
html,
body {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  height: 105vh;
  position: fixed;
  background-color: black;
  z-index: 9;
  bottom: 0;
color: #fff;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  /* align-items: flex-end; */
  /* position: relative; */
}
.footerUp{
  background-color: #fe3d0e;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  position: absolute;
  left: 0;
  filter: blur(20px);
  animation-name: ani;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
footer h1{
  font-size: 23vw;
  text-transform: capitalize;
}
.footerBox{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100vw;
  height: 30vh;
  position: absolute;
padding: 0 10vw;
bottom: 40%;
text-transform: capitalize;
border: 2px solid #fff;
 
}

@keyframes ani {
  from{
    transform: translate(0%,-10%) ;
  }
  to{
    transform: translate(0%, -20%);
  }
}
.footerleft{
 
}
.footerleft h3{
  font-size: larger;
  font-weight:bold;

}
.footerRight{
  border: 1px solid black;
}
.footerRight p{
  
}
.footerRight #email{
  /* background-color: transparent; */
  padding: 10px 40px;
  border-bottom: 1px solid grey;
  background-color: black;
  color: #fff;
  border: none;
  margin-top: 10px;
}
.container {
  position: relative;
  z-index: 10;
}
/* #ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
} */
.hero {
  width: 100%;
  height: 100vh;
  background-color: #efeae3;
  padding: 0 2vw;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 4vw 3vw;
}

p a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  color: black;
  font-weight: 500;
  outline: none;
  text-transform: capitalize;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  z-index: ;
}
p a::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: 0.9s all;
  z-index: 5;
}
p a:hover::after {
  color: #fff;
  bottom: 0;
  border-radius: 0;
}
/* a:hover{
  background-color: black;
color: #fff;
width: 100%;
height: 100%;
border:none;
} */
.main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
  background-color: #efeae3;
}
.main .left {
  width: 35vw;
  font-size: 1.2vw;
  line-height: 2vw;
}
.main .right {
  width: 50vw;
  text-align: center;
  height: 50vh;
}
.right h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: bold;
}
.page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vw;
  position: relative;
  background-color: #efeae3;
}
video {
  width: 95%;
  /* height: 100%; */
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  /* margin: 0 20vw; */
  top: 0;
  background-color: #efeae3;
}
.hero-shaps {
  position: relative;
  width: 98%;
  height: 36vh;
  top: -12vw;
  bottom: 0;
  left: 10px;
}
.hero-shape-1 {
  width: 36vw;
  height: 50vh;
  background-color: #fe3d0e;
  position: absolute;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  right: 0;
  bottom: 20%;
  filter: blur(20px);
}
.hero-shape-2 {
  width: 40vw;
  height: 50vh;
  background-color: #fe3d0e;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 20%;
  filter: blur(20px);
  animation-name: anime;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.hero-shape-3 {
  overflow: hidden;
  width: 50vw;
  height: 50vh;
  background-color: #fe3d0e;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 20%;
  filter: blur(20px);
  animation-name: anime;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anime {
  from {
    transform: translate(-10%, -5%);
  }
  to {
    transform: translate(0%, 60%);
  }
}

.page3 {
  width: 100%;
  height: 100vh;
  background-color: #efeae3;
}
#moving-text {
  white-space: nowrap;
 padding-top: 10vw;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
  text-transform: capitalize;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.gola {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fe3d0e;
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.page3-bottom {
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 6vw;
  position: relative;
  background-color: #efeae3;
}
.page3-left {
  width: 70%;
  height: 100%;
  padding-top: 3vw;
  position: absolute;
  z-index: 0;
}
.page3-left h1 {
  font-size: 3vw;
}
.anime-gola {
  width: 100%;
  position: relative;
  bottom: 25%;
  left: 27%;
  filter: blur(20px);
  z-index: -1;
}
.anime-gola-1 {
  width: 400px;
  height: 400px;
  background-color: #fe330a;
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
}
.anime-gola-2 {
  width: 30vw;
  height: 30vw;
  background: linear-gradient(#fe330a, #fe5b0a);
  border-radius: 50%;
  filter: blur(10px);
  animation-name: anime-gola;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes anime-gola {
  from {
    transform: translate(10%, -10%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}

.page3-bottom .page3-right {
  width: 20%;
  height: 50vh;
  position: absolute;
  left: 70%;
  bottom: 40%;
}
.page3-right .top {
  width: 100%;
  height: 50%;
}
.page3-right .top img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.page3-right .bottom {
  margin-top: 20px;
}
.page3-right .bottom h3 {
  font-weight: 500;
  text-transform: capitalize;
}

.page4 {
  width: 100%;
  height: 100vh;
  /* padding: 3vw 0; */
  position: relative;
  background-color: #efeae3;
}
.page4 .products .para {
  padding-left: 4vw;
  /* margin-top: 8vw; */
  /* padding-bottom: 4vw; */
  display: flex;
  align-items: center;
}
.page4 p .circul {
  width: 10px;
  height: 10px;
  background-color: #fe330a;
  border-radius: 50%;
  margin-left: 1vw;
}

.products {
  width: 100%;
  height: 100vh;
  /* margin-top: vw; */
  position: relative;
  background-color: #efeae3;
}
.item {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  /* margin-top: 6vw; */
  padding: 4vw 3vw;
  border-bottom: 1px solid grey;
  position: relative;
  overflow: hidden;
}
.item h1 {
  font-size: 4vw;
  padding: 1vw 2vw;
  z-index: 1;
}

.item p span {
  color: gray;
}
.item1-card {
  width: 25vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 1%;
  background-color: red;
  z-index: 9;
  display: none;
  border-radius: 20px;
  background-position: center;
  object-fit: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(242, 163, 16);
  position: absolute;
  top: -200%;
  left: 0;
  transition: all ease-in 0.25s;
}
.item:hover .overlay {
  top: 0;
}

.page5 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efeae3;
}
/* .swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
} */
.page5 .btn {
  top: 10%;
  left: 5%;
  position: absolute;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: capitalize;
  border: 1px solid grey;
}
.services {
  width: 100%;
  height: 100vh;
  /* background-color: #fe330a; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20%;
  background-color: #efeae3;
}
.left-dets {
  width: 30vw;
  height: 40vw;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  background-color: black;
  color: #fff;
  padding-left: 1vw;
  border-radius: 20px 0px 0px 20px;
}
.left-dets .head {
  margin-top: 7vw;
  margin-left: 2vw;
  line-height: 3.5vw;
  border-left: 2px solid red;
  padding-left: 1vw;
  padding-bottom: 2vw;
  text-transform: capitalize;
}
.head span {
  color: gray;
}

.right-dets {
  width: 40vw;
  height: 40vw;
  /* border: 1px solid black; */
  object-fit: cover;
  background-position: center;
}
.right-dets img {
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}

.page6 {
  height: 100vh;
  width: 100%;
  position: relative;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  /* z-index: 10; */
  background-color: #efeae3;
/* left: 0;
right: 100%; */

}
.page6 .btn {
  position: absolute;
  top: 20%;
  left: 2%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid gray;
}
.company-boxs {
  width: 95%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  position: absolute;
  top: 20%;
  overflow-x: auto;
  z-index: 99;
}
.company-boxs::-webkit-scrollbar {
  display: none;
}
.box {
  width: 40vw;
  height: 50%;
  padding: 0vw 1vw;
  color: black;
  border-left: 1px solid gray;
  /* position: absolute; */
  margin: 0 3vw;
  /* margin-left: 8vw; */
}
.box img {
  margin-bottom: 2vw;
}
